@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MetaData>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}


@section MetaData
{
    <title>@Model.Value("seoTitle")</title>
    <meta name="description" content="@Model.Value("seoDescription")">
    @{
        string[] tagsList = (string[])Model.Value("seoKeywords");

        if (tagsList.Count() > 0)
        {
            <meta name="keywords" content="@string.Join(",", tagsList)">
        }
    }
}