@using Microsoft.Extensions.Options
@using Umbraco.Forms.Core.Configuration
@using Umbraco.Forms.Web

@inject IOptionsSnapshot<Recaptcha3Settings> Configuration

@model Umbraco.Forms.Web.Models.FieldViewModel
@{
    var siteKey = Configuration.Value.SiteKey;

    if (!string.IsNullOrEmpty(siteKey))
    {
        @* Google JS reCAPTHA API and initialization scripts *@
        Html.AddFormThemeScriptFile("https://www.google.com/recaptcha/api.js?render=" + siteKey);
        Html.AddFormThemeScriptFile("~/App_Plugins/UmbracoForms/Assets/recaptcha.v3.init.js");

        @* Hidden Field to store token from invisible reCAPTCHA *@
        <input type="hidden" id="@Model.Id" name="g-recaptcha-response" />

        @* Recaptcha config for reference from initialization script *@
        <div class="umbraco-forms-recaptcha-v3-config"
            style="display: none"
            data-id="@Model.Id"
            data-site-key="@siteKey"></div>
    }
    else
    {
        <p class="error">ERROR: reCAPTCHA v3 is missing the Site Key. Please update the configuration to include a value at: @(Umbraco.Forms.Core.Constants.Configuration.SectionKeys.FieldTypes.Recaptcha3):SiteKey</p>
    }
}
